{% extends "core/index.html" %}

{% block content %}

<!-- NAVBAR (GLOBAL) -->
<header class="absolute inset-x-0 top-0 z-50">
  {% include "core/navbar.html" %}
</header>

<section class="py-32">
    <div class="p-8 lg:px-32">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
        <h1 class="text-base font-semibold text-white">User Profile Details</h1>
        <p class="mt-2 text-sm text-gray-300"></p>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <button type="button" class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Add user</button>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="relative min-w-full divide-y divide-white/15">
            <thead>
                <tr>
                <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-white sm:pl-0">User ID</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Full Name</th>
                {% comment %} <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Username</th> {% endcomment %}
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Email</th>
                {% comment %} <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Phone Number</th> {% endcomment %}
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Is Email Verified</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Role</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Created At</th>
                {% comment %} <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Last Login IP</th> {% endcomment %}
                <th scope="col" class="py-3.5 pr-4 pl-3 sm:pr-0">
                    <span class="sr-only">Edit</span>
                </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-white/10">
                {% for profile in profiles %}
                    <tr>
                    <td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-white sm:pl-0">
                        <a href="{% url 'customer_profile_detail' profile.user_id %}">
                            {{profile.user_id}}
                        </a>
                    </td>
                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.full_name}}</td>
                    {% comment %} <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.username}}</td> {% endcomment %}
                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.email}}</td>
                    {% comment %} <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.phone_number}}</td> {% endcomment %}
                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.is_email_verified}}</td>
                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.role}}</td>
                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.created_at}}</td>
                    {% comment %} <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-400">{{profile.last_login_ip}}</td> {% endcomment %}
                    {% comment %} <td class="py-4 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-0">
                        <a href="#" class="text-indigo-400 hover:text-indigo-300">Edit<span class="sr-only">, Lindsay Walton</span></a>
                    </td> {% endcomment %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}